# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.DS_Store

# Intellij Idea
.idea

.goxc.local.json

subify
subify_freebsd_amd64
subify_netbsd_amd64
subify_openbsd_amd64
subify_linux_amd64
subify_darwin_amd64
debug
debian/

coverage.txt